@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <h1 class="display-4">Bem vindo!</h1>
        <button type="button" class="btn btn-block btn-primary" style="max-width: 300px;">
            <a href="https://docs.microsoft.com/aspnet/core" style="color: #fff; font-size: 16px; font-weight: bold; text-decoration: none;">Realizar inscrição</a>
        </button>
</div>